@font-face {
  font-family: 'RespectiveSlanted';
  src: url('../fonts/Respective_Slanted.ttf')  format('truetype'); /* Safari, Android, iOS */
}

*{
  padding:0;
  margin:0;
  font-size:100%;
  border:1px solid silver;
}

body{
  background-color:white;
}

.main-footer-aside{
  color:white;
  font-weight:bold;
  text-align:center;
  font-size:1.1em;
}

.signup-form{
  text-align:center;
}

.signup-form fieldset{
  border:none;
}

.signup-form legend{
  color:white;
  font-weight:bold;
}

.signup-form button, input{
  display:block;
  margin:auto;
}

.main-footer{
  background-color:#222222;
  font-variant:small-caps;
}

.main-footer-section{
  display:flex;
}

.main-footer-ul{
  flex:1;
  text-align:center;
  list-style-type:none;
  color:white;
  background-color:transparent;
}

.main-footer-ul li:first-child{
  font-weight:bold;
}

.crafted-article{
  display:flex;
}

.crafted-figure{
  flex:1;
  text-align:center;
}

.crafted-figure img{
  width:100%;
}

.main-header{
  background-color:transparent;
  font-weight:bold;
  display: -webkit-flex;
  display: flex;
  justify-content:center;
  align-items:center;
}

.main-nav{
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  justify-content:space-around;
  border:1px solid green;
}

.main-nav li{
  font-variant:small-caps;
  font-family: 'Playfair Display', serif;
}

.main-logo{
  text-align:center;
}

.main-section{
  position:relative;
  background-color:transparent;
  overflow:auto;
}

.new-section:after{
  display:block;
  content:'';
  position:absolute;
  background-color:#fae8da;
  top:1em;
  width:100%;
  height:80%;
  z-index:-1;
}

.landing-img{
  width:78%;
  margin-left:1%;
}

.new-section-logo{
  width:98%;
  float:right;
}

.new-content-holder{
  float:right;
  width:75%;
  padding:1%;
}

.crafted-header{
  font-family: 'RespectiveSlanted', cursive;
  font-style:italic;
  text-align:center;
}


.main-brown-button{
  color:white;
  font-weight:bold;
  font-family:arial, sans-serif;
  font-variant:small-caps;
  background-color:#936740;
  padding:.5em 1.2em;
  margin-top:.5em;
}

.button-float-right{
  float:right;
}

.crafted-figure button{
  background-color:#fae8da;
  color:#222222;
  font-variant:small-caps;
  letter-spacing:.1em;
}


/* ------ mobile ---------- */
@media only screen and (max-device-width: 700px){

  .main-header{
    flex-direction: column;
  }

  .main-nav{
    width:100%;
  }

  .main-nav li{
      font-size:1.5em;
  }


}


/* ------ tablet and desktop -------- */
@media only screen and (min-device-width: 700px){

  .signup-form{
    padding:3em;
  }

  .signup-form input{
    margin-top:.5em;
    margin-bottom:.7em;
  }

  .signup-form input[type=text]{
    padding:.5em;
  }

  .main-footer-section{
    padding:7%;
    justify-content:center;
    align-items:center;
  }

    .crafted-header{
    font-size:3.2em;
    padding:.3em;
  }

  .section-aside-left p{
    text-align:right;
  }

  .section-aside-left figure{
    margin-top:4.4em;
    clear:both;
    overflow:auto;
    margin-bottom:1em;
  }

  .main-nav{
    flex:2;
  }

  .main-nav li{
      font-size:1.8em;
  }

  .main-logo{
    flex:1;
  }

  .main-logo img{
    width:250px;
  }

  .section-aside{
    float:left;
    width:26%;
    padding:2%;
  }

  .section-figure{
    width:63%;
    padding:3%;
    float:left;
  }

}
